.blog-logo {
    display: block;
    float: left;
    color: #fff;
    background: none !important; 
    border: none !important; 
}

.blog-logo:visited {
    color: #fff;
}

/* ==========================================================================
       Media Queries - Smaller than 500px
   ========================================================================== */

@media only screen and (max-width: 500px) {
    .blog-logo {
        padding: 5px;
    }
}
