.post-date {
    display: inline-block;
    margin-left: 8px;
    padding-left: 12px;
    border-left: #b2c1d1 1px solid;
    white-space: nowrap;
}

/* ==========================================================================
       Media Queries - Smaller than 500px
   ========================================================================== */

@media only screen and (max-width: 500px) {
    .post-date {
        display: none;
    }
}
