.post-meta .tag {
    padding: .2em .6em .3em;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: #337ab7;
    margin-right: 0.5em;
}

.post-meta .tag a,
.post-meta .tag a:hover {
    text-decoration: none;
    color: #fff;
}

.post-meta .tag:hover {
    background-color: #CC334F;
}

