/** empty css file for component consistency **/
.author-link.icon-link::before {
    margin-right: 5px;
}

.content a.anchor {
    fill: #fff;
    position: absolute;
    left: -5px;
}

.content a.anchor svg {
    height: 20px;
    width: 20px;
}